$body-bg: #eee;
$header-bg: #378E93;
$header-color: #fff;
$card-bg: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
$shadow: 12px 12px 10px rgba(0, 0, 0, 0.2);
$go-button: #a393eb;  
